.logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
.animate {
    position: absolute;
    display: inline-block;
    top: 50%;
    width: 800px;
    right: -10%;
    animation: move 10s linear infinite;
}

@keyframes move {
  0% {
    transform: translateX(50%) ;
  }
  100% {
    transform: translateX(-200%) ;
  }
}